.product-details {
  margin-top: 100px !important;
}

.product-details-info {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.product-details-info h6 {
  margin-bottom: 20px !important;
}

.similar-products .card {
  background-color: rgba(128, 128, 128, 0.097);
  width: 18rem;
}

.similar-products .card-name-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.similar-products .card-price {
  color: green;
  font-weight: bold;
}
.similar-products button {
  border-radius: 0;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.similar-products .card-text {
  color: rgb(90, 89, 89);
}

.similar-products .card img:hover {
  transform: scale(0.9);
}

.similar-products .card-img-top {
  height: 200px !important;
}


.col-md-6 img{
  width: 370px;
  height: 170px;
  margin-top: 100px;
}


/* hover image of product details */
/* CSS */
/* Add a gradient border on hover */
.smaller-image-container:hover {
  /* border: 3px solid transparent; */
  /* background-image: linear-gradient(45deg, #f06, #9f6, #06f, #f06); */
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: border-color 0.3s;
}

/* Apply a blurry effect on hover */
.smaller-image-container:hover img {
  filter: blur(8px); /* Adjust blur amount as needed */
}
/* CSS */
.image-container {
  position: relative;
  overflow: hidden;
}

.main-image {
  transition: transform 0.3s;
}

.image-container:hover .main-image {
  transform: scale(1.6); /* Increase the scale value for more zoom effect */
}
